* {
	margin: 0;
	padding: 0;
}

#upBox {
	width: 100%;
	padding: 20px;
	margin: auto;
	margin-top: -20px;
	margin-bottom: 200px;
	position: relative;
	border-radius: 10px;
}

#inputBox {
	width: 8%;
    margin-left: 1%;
    height: 32px;
    border: 1px solid #007e56;
    color: #007e56;
    border-radius: 20px;
    position: relative;
    text-align: center;
    line-height: 32px;
    overflow: hidden;
    font-size: 16px;
}

#inputBox input {
	width: 114%;
	height: 40px;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: -14%;
}

#imgBox {
	text-align: left;
}

.imgContainer {
	display: inline-block;
	width: 17%;
	height: 150px;
	margin-left: 1%;
	border: 1px solid #666666;
	position: relative;
	margin-top: 30px;
	box-sizing: border-box;
}

.imgContainer img {
	width: 100%;
	height: 150px;
	cursor: pointer;
}

.imgContainer p {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 30px;
	background: black;
	text-align: center;
	line-height: 30px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	display: none;
}

.imgContainer:hover p {
	display: block;
}

#btn {
	height: 40px;
	width:100px;
	background: #007e56;
	border: 1px solid #007e56;
	margin-top: 20px;
	margin-left: 35%;
	border-radius: 5px;
	color: white;
	margin-bottom:100px;
}